@model IEnumerable<ECommerce.Models.productModel>    
       
@{   
        Layout ="_Layout_purchase"; 
        ViewData["Title"] = "Index";    
    }    
<h2>Product List</h2>    
   
<table class="table">    
    <thead>    
        <tr>    
            <th>    
                @Html.DisplayNameFor(model => model.productcode)    
            </th>    
            <th>    
                @Html.DisplayNameFor(model => model.name)    
            </th>  
            <th>    
                @Html.DisplayNameFor(model => model.type)    
            </th>    
            <th>    
                @Html.DisplayNameFor(model => model.description)    
            </th>    
            <th>    
                @Html.DisplayNameFor(model => model.price)    
            </th>  
            <th></th>    
        </tr>    
    </thead>    
    <tbody>    
        @foreach (var item in Model)    
{    
            <tr>    
                <td>    
                    @Html.DisplayFor(modelItem => item.productcode)    
                </td>    
                <td>    
                    @Html.DisplayFor(modelItem => item.name)    
                </td>    
                <td>    
                    @Html.DisplayFor(modelItem => item.type)    
                </td>    
                <td>    
                    @Html.DisplayFor(modelItem => item.description)    
                </td>   
                <td>    
                    @Html.DisplayFor(modelItem => item.price)    
                </td>               
                <td>    
                    <a asp-action="Edit" asp-route-id="@item.id">Buy the Product</a>        
                </td>    
            </tr>    
        }    
    </tbody>    
</table>